.button {
    background-color: white;
    border: 2px;
    border-style: solid;
    color: red;
    padding 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
}
body {
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.25;
  padding: 0px;
  margin: auto;
 
}
/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}

/*Header*/

header {
  background:#ff0000; ///*#4d4d4d*/#f4f4f4
  font-family: Courier;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: black 3px solid;
  color: white;
  font-size:22px;
}

/*Body*/

h1 {
    padding: 20px;
    margin: auto;
}

h2 {
    padding-left: 20px;
}

.appnow {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto;
    width: 50%;
    max-width: 300px;
}

img {
    max-width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

ul {
    padding-top: 20px;
    font-size: 17px;    
    list-style-type: none;
    font-size: 20px;

}

a, a:visited, a:hover {
    display: inline-block;
    font-size: 22px;
    color: black;
}

.officer {
    background-color: white;
    border: none;
    color: #ff0000;
    padding: 11px 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto;
    max-width: 300px;
}

.docs {
    display: block;
    margin: auto;
    text-align: center;
}
