.button {
    background-color: white;
    border: 2px;
    border-style: solid;
    color: red;
    padding 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
}
body {
  font-family: Georgia;
  font-size: 20px;
  line-height: 1.25;
  padding: 0px;
  margin: 0px;
}
/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}

/*Header*/

header {
  background:#ff0000; ///*#4d4d4d*/#f4f4f4
  font-family: Courier;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: black 3px solid;
  color: white;
  font-size:22px;
}

/*Body*/

h1 {
  padding: 20px;
}

ul {
    padding-top: 20px;
    font-size: 17px;    
    list-style-type: none;
    font-size: 20px;

}

a, a:visited, a:hover {
    display: inline-block;
    font-size: 22px;
    color: black;
}

   
